
# Editors
.idea/
.charm/
.vscode/

# Environment
.env

# PostgreSQL local data store
pgdata/

# Local config
src/config_local.py

# MacOS
.DS_STORE

# pyenv
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
