
# Editors
.idea/
.charm/
.vscode/

# Environment
.env

# Volumes
pgdata/

# MacOS
.DS_STORE

# Local config
src/config_local.py

# pyenv
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
